:root {
	--color1: #006168;
	--color2: #FFB400;
	--color3: #f7f8fa;
	--text-color: black;
	--logo-width: 200px;
	--tableTotalWidth: 40%;
	--cell-padding: 4px;
	--border-radius: 5px;
	--border-color: black;
	--shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
 .payeur {
	 background-color: var(--color3);
}
 .gshadow, .details, .comm, .tableTotals, #articles, #revisions, .history, .team-table, .themeBorderL {
	 box-shadow: var(--shadow);
	 border-radius: var(--border-radius);
}
 .themeBorderL, .comm {
	 border-left: 5px solid var(--color2);
	 padding: 10px;
	 border-radius: var(--border-radius);
	 background-color: var(--color3);
}
 .details {
	 background-color: var(--color1);
	 color: #fff;
}
 .details .refClient {
	 background: var(--color2);
	 color: var(--fontColor2);
}
 .comm {
	 background-color: var(--color3);
	 color: var(--fontColor2);
}
 .tableTotals, #articles, #revisions, .history, .team-table {
	 background: #fff;
}
 .tableTotals tbody:nth-child(even) tr:nth-child(odd), #articles tbody:nth-child(even) tr:nth-child(odd), #revisions tbody:nth-child(even) tr:nth-child(odd), .history tbody:nth-child(even) tr:nth-child(odd), .team-table tbody:nth-child(even) tr:nth-child(odd) {
	 background-color: var(--color3);
}
 .tableTotals tbody:nth-child(odd) tr:nth-child(even), #articles tbody:nth-child(odd) tr:nth-child(even), #revisions tbody:nth-child(odd) tr:nth-child(even), .history tbody:nth-child(odd) tr:nth-child(even), .team-table tbody:nth-child(odd) tr:nth-child(even) {
	 background-color: var(--color3);
}

.tableTotals > *:first-child tr:first-of-type td:first-child, #articles > *:first-child tr:first-of-type td:first-child, #revisions > *:first-child tr:first-of-type td:first-child, .history > *:first-child tr:first-of-type td:first-child, .team-table > *:first-child tr:first-of-type td:first-child, .tableTotals > *:first-child tr:first-of-type th:first-child, #articles > *:first-child tr:first-of-type th:first-child, #revisions > *:first-child tr:first-of-type th:first-child, .history > *:first-child tr:first-of-type th:first-child, .team-table > *:first-child tr:first-of-type th:first-child {
	 border-radius: var(--border-radius) 0 0 0;
}
 .tableTotals > *:first-child tr:first-of-type td:last-child, #articles > *:first-child tr:first-of-type td:last-child, #revisions > *:first-child tr:first-of-type td:last-child, .history > *:first-child tr:first-of-type td:last-child, .team-table > *:first-child tr:first-of-type td:last-child, .tableTotals > *:first-child tr:first-of-type th:last-child, #articles > *:first-child tr:first-of-type th:last-child, #revisions > *:first-child tr:first-of-type th:last-child, .history > *:first-child tr:first-of-type th:last-child, .team-table > *:first-child tr:first-of-type th:last-child {
	 border-radius: 0 var(--border-radius) 0 0;
}
 .tableTotals > *:last-child tr:last-of-type td:first-child, #articles > *:last-child tr:last-of-type td:first-child, #revisions > *:last-child tr:last-of-type td:first-child, .history > *:last-child tr:last-of-type td:first-child, .team-table > *:last-child tr:last-of-type td:first-child, .tableTotals > *:last-child tr:last-of-type th:first-child, #articles > *:last-child tr:last-of-type th:first-child, #revisions > *:last-child tr:last-of-type th:first-child, .history > *:last-child tr:last-of-type th:first-child, .team-table > *:last-child tr:last-of-type th:first-child {
	 border-radius: 0 0 0 var(--border-radius);
}
 .tableTotals > *:last-child tr:last-of-type td:last-child, #articles > *:last-child tr:last-of-type td:last-child, #revisions > *:last-child tr:last-of-type td:last-child, .history > *:last-child tr:last-of-type td:last-child, .team-table > *:last-child tr:last-of-type td:last-child, .tableTotals > *:last-child tr:last-of-type th:last-child, #articles > *:last-child tr:last-of-type th:last-child, #revisions > *:last-child tr:last-of-type th:last-child, .history > *:last-child tr:last-of-type th:last-child, .team-table > *:last-child tr:last-of-type th:last-child {
	 border-radius: 0 0 var(--border-radius) 0;
}
 

 #articles, .comm {
	 margin: 1.25rem auto;
}
 
