:root {
	 --color1: #7393b3;
	 --color2: #a5b9ce;
	 --color3: #f7f8fa;
	 --text-color: black;
	 --logo-width: 200px;
	 --tableTotalWidth: 40%;
	 --cell-padding: 4px;
	 --border-radius: 10px;
	 --border-color: black;
	 --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
 .payeur {
	 background-color: var(--color3);
}
 .gshadow, .details, .comm, .tableTotals, #articles, #revisions, .history, .team-table, .articles {
	 box-shadow: var(--shadow);
}
 .themeBorderL {
	 border-left: 5px solid var(--color1);
	 padding-left: 10px;
}
 .details {
	 background-color: var(--color1);
	 color: #fff;
}
 .details .refClient {
	 background: var(--color2);
	 color: var(--fontColor2);
}
 .comm {
	 background-color: var(--color2);
	 color: var(--fontColor2);
}
 .tableTotals, #articles, #revisions, .history, .team-table, .articles {
	 background: #fff;
}
 .tableTotals tbody:nth-child(even) tr:nth-child(odd), #articles tbody:nth-child(even) tr:nth-child(odd), #revisions tbody:nth-child(even) tr:nth-child(odd), .history tbody:nth-child(even) tr:nth-child(odd), .team-table tbody:nth-child(even) tr:nth-child(odd),.articles tbody:nth-child(even) tr:nth-child(odd) {
	 background-color: var(--color3);
}
 .tableTotals tbody:nth-child(odd) tr:nth-child(even), #articles tbody:nth-child(odd) tr:nth-child(even), #revisions tbody:nth-child(odd) tr:nth-child(even), .history tbody:nth-child(odd) tr:nth-child(even), .team-table tbody:nth-child(odd) tr:nth-child(even), .articles tbody:nth-child(odd) tr:nth-child(even) {
	 background-color: var(--color3);
}
 #articles, .articles {
	 margin: 1.25rem auto;
}

.mnt {
	text-align: right !important;
}
