@function contrastText($color) {
    $result: invert($color);
    $lightness: lightness($result);
    @if ($lightness < 40) {
      $result: $text-color;
    } @else {
      $result: #fff;
    }
    @return $result;
}
