@import url("https://pdfmonkey-resources.s3.eu-west-3.amazonaws.com/css/tailwind-light.min.css");

*, *:after, *:before {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



#filigrane_bck {
  position: fixed;
  top: 55%;
  bottom: 0;
  left: 65%;
  width: 100%;
  height: 100%;
  transform: rotate(-25deg);
  font-family: Arial, sans-serif;
  font-size: 110px;
  font-weight: bold;
  color: rgba(0,0,0,0.1);
  transform-origin: bottom left;
  pointer-events: none;
}

  #pageHeader {
  position: running(pageHeader);
}

#pageHeaderPageBreak {
  position: running(pageHeaderPageBreak);
}

#pageFooter {
  position: running(pageFooter);
}

.last-page {
  page: last-page;
}

.avoid-page-break {
  page-break-inside: avoid;
}

.page-break, break {
  page-break-before: always;
}

.chapter {
  page-break-after: avoid !important;
}
.chapter + tr {
  page-break-before: avoid !important;
}


.mainColor{ color: var(--color1) !important;}
.text-center {text-align: center !important;}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.font-bold {font-weight: bold !important;}

.noDisplay {display: none !important;}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
