/* aptos */
@font-face {
	font-family: "Aptos";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Aptos"), url(aptos.woff2) format("woff2");
}
/* aptos-black */
@font-face {
	font-family: "Aptos";
	font-style: normal;
	font-weight: 900;
	font-stretch: 100%;
	src: local("Aptos Black"), local("Aptos-Black"), url(aptos-black.woff2) format("woff2");
}
/* aptos-black-italic */
@font-face {
	font-family: "Aptos";
	font-style: italic;
	font-weight: 900;
	font-stretch: 100%;
	src: local("Aptos Black Italic"), local("Aptos-BlackItalic"), url(aptos-black-italic.woff2) format("woff2");
}
/* aptos-bold */
@font-face {
	font-family: "Aptos";
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Aptos Bold"), local("Aptos-Bold"), url(aptos-bold.woff2) format("woff2");
}
/* aptos-bold-italic */
@font-face {
	font-family: "Aptos";
	font-style: italic;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Aptos Bold Italic"), local("Aptos-BoldItalic"), url(aptos-bold-italic.woff2) format("woff2");
}
/* aptos-display */
@font-face {
	font-family: "Aptos";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Aptos Display"), local("AptosDisplay"), url(aptos-display.woff2) format("woff2");
}
/* aptos-display-bold */
@font-face {
	font-family: "Aptos";
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Aptos Display Bold"), local("AptosDisplay-Bold"), url(aptos-display-bold.woff2) format("woff2");
}
/* aptos-display-bold-italic */
@font-face {
	font-family: "Aptos";
	font-style: italic;
	font-weight: 700;
	font-stretch: 100%;
	src: local("Aptos Display Bold Italic"), local("AptosDisplay-BoldItalic"), url(aptos-display-bold-italic.woff2) format("woff2");
}
/* aptos-display-italic */
@font-face {
	font-family: "Aptos";
	font-style: italic;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Aptos Display Italic"), local("AptosDisplay-Italic"), url(aptos-display-italic.woff2) format("woff2");
}
/* aptos-extrabold */
@font-face {
	font-family: "Aptos";
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: local("Aptos ExtraBold"), local("Aptos-ExtraBold"), url(aptos-extrabold.woff2) format("woff2");
}
/* aptos-extrabold-italic */
@font-face {
	font-family: "Aptos";
	font-style: italic;
	font-weight: 800;
	font-stretch: 100%;
	src: local("Aptos ExtraBold Italic"), local("Aptos-ExtraBoldItalic"), url(aptos-extrabold-italic.woff2) format("woff2");
}
/* aptos-italic */
@font-face {
	font-family: "Aptos";
	font-style: italic;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Aptos Italic"), local("Aptos-Italic"), url(aptos-italic.woff2) format("woff2");
}
/* aptos-light */
@font-face {
	font-family: "Aptos";
	font-style: normal;
	font-weight: 300;
	font-stretch: 100%;
	src: local("Aptos Light"), local("Aptos-Light"), url(aptos-light.woff2) format("woff2");
}
/* aptos-light-italic */
@font-face {
	font-family: "Aptos";
	font-style: italic;
	font-weight: 300;
	font-stretch: 100%;
	src: local("Aptos Light Italic"), local("Aptos-LightItalic"), url(aptos-light-italic.woff2) format("woff2");
}
/* aptos-semibold */
@font-face {
	font-family: "Aptos";
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: local("Aptos SemiBold"), local("Aptos-SemiBold"), url(aptos-semibold.woff2) format("woff2");
}
/* aptos-semibold-italic */
@font-face {
	font-family: "Aptos";
	font-style: italic;
	font-weight: 600;
	font-stretch: 100%;
	src: local("Aptos SemiBold Italic"), local("Aptos-SemiBoldItalic"), url(aptos-semibold-italic.woff2) format("woff2");
}

