@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Medium Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('Gill Sans Heavy Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('GillSans Condensed.otf') format('opentype');
  font-weight: 400;
  font-stretch: condensed;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url('GillSans Condensed Bold.otf') format('opentype');
  font-weight: 700;
  font-stretch: condensed;
  font-style: normal;
}
