@font-face{
    font-family: "Gotham Light";
    src: url("84693c6ac1f359fe8a4ac49b69f492dd.eot");
    src: url("84693c6ac1f359fe8a4ac49b69f492dd.eot?#iefix")format("embedded-opentype"),
        url("84693c6ac1f359fe8a4ac49b69f492dd.woff")format("woff"),
        url("84693c6ac1f359fe8a4ac49b69f492dd.woff2")format("woff2"),
        url("84693c6ac1f359fe8a4ac49b69f492dd.ttf")format("truetype"),
        url("84693c6ac1f359fe8a4ac49b69f492dd.svg#Gotham Light")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
